<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码</title>

<link rel="stylesheet" href="css/reg.css">

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/easyform.js"></script>
<script type="text/javascript">
	function sendVcode(){
		$.post("sendVcode",{account:$("input[name='account']").val()},
				function (result){
			alert(result.msg);
		})
	}
	function changePwd(){
		$.post("changePwd",
				{account:$("input[name='account']").val(),
				 pwd:$("input[name='pwd']").val(),
				 repwd:$("input[name='repwd']").val(),
				 vcode:$("input[name='vcode']").val()},
				 function (result){
						alert(result.msg);
					})
	}
</script>
<style>
	td[id]{
		color:red;
	}
</style>
</head>
<body>
<br>
<div class="form-div">
    <form id="regform" action="" method="post">
        <table>
            <tr>
                <td>用户名</td>
                <td><input name="account" type="text"  easyform="length:4-16;char-normal;real-time;" message="用户名必须为4—16位的英文字母或数字" easytip="disappear:lost-focus;theme:blue;" ajax-message="用户名已存在!">
                </td>
            </tr>
            <tr>
            	<td colspan="2" align="center" id="account"></td>
            </tr>
            <tr>
                <td>验证码</td>
                <td><input name="vcode" type="text"  easytip="disappear:lost-focus;theme:blue;"></td>
            </tr>
            <tr>
            	<td colspan="2" align="center" id="password"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input name="pwd" type="password"  easyform="length:6-16;equal:#psw1;" message="密码不合法" easytip="disappear:lost-focus;theme:blue;"></td>
            </tr>
             <tr>
            	<td colspan="2" align="center" id="pwd"></td>
            </tr>
                     
            <tr>
                <td>确认密码</td>
                <td><input name="repwd" type="password"  easyform="length:6-16;equal:#psw1;" message="两次密码输入要一致" easytip="disappear:lost-focus;theme:blue;"></td>
            </tr>
             <tr>
            	<td colspan="2" align="center" id="repwd"></td>
            </tr>
                      
        </table>

		<div class="buttons">
			<input value="修改密码" type="button" onclick="changePwd();"style="margin-right:20px; margin-top:20px;">
			<input value="发送验证码邮件" type="button" onclick="sendVcode();" style="margin-right:45px; margin-top:20px;">
        	<input value="我有账号，我要登录" type="button" onclick="window.location.href='index.html';"style="margin-right:45px; margin-top:20px;">
        </div>
		
        <br class="clear">
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#reg-form').easyform();
});
</script>
</body>
</html>
